<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{'client' | translate}}</ion-title>
    <ion-button slot="start" (click)="GoBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-button slot="end" (click)="EditContact()">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-button>
    <ion-title slot="" style="font-size:smaller; text-align: center;">{{GetName()}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" style="background-color: white;">
  <div class="tab">
  <div class="card-header tabHeader">
    {{'profile' | translate}}
  </div>
  <ion-item>
    <ion-label position="fixed" style="font-weight: lighter;">{{'fName' | translate}} : </ion-label>
    <ion-label style="font-weight: bolder;">{{client?.firstName}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="fixed" style="font-weight: lighter;">{{'name' | translate}} : </ion-label>
    <ion-label style="font-weight: bolder;">{{client?.lastName.toUpperCase()}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="fixed" style="font-weight: lighter;">{{'address' | translate}} : </ion-label>
    <ion-label style="font-weight: bolder;">{{client?.address}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="fixed" style="font-weight: lighter;">{{'phone' | translate}} : </ion-label>
    <ion-label style="font-weight: bolder;">{{client?.phone}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="fixed" style="font-weight: lighter;">{{'mail' | translate}} : </ion-label>
    <ion-label style="font-weight: bolder;">{{client?.mail}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="fixed" style="font-weight: lighter;">{{'tva' | translate}} : </ion-label>
    <ion-label style="font-weight: bolder;">{{client?.tva}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="fixed" style="font-weight: lighter;">{{'iban' | translate}} : </ion-label>
    <ion-label style="font-weight: bolder;">{{client?.iban}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="fixed" style="font-weight: lighter;">{{'bic' | translate}} : </ion-label>
    <ion-label style="font-weight: bolder;">{{client?.bic}}</ion-label>
  </ion-item>
</div>
<div class="tab">
  <div class="card-header tabHeader">
    {{'history' | translate}}
  </div>
  <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar">
    <div [hidden]="chantiers != null && chantiers.length > 0">
      <ion-label style="color: gray;">
        {{'noData' | translate}}</ion-label>
    </div>
    <table mat-table class="table table-bordered table-striped mb-0">
      <thead>
        <tr>
          <th *ngFor="let head of headElements" scope="col">{{head}} </th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let el of chantiers">
          <!-- <th scope="row">{{el.id}}</th> -->
          <td>{{el.worksiteName}}</td>
          <td>{{GetName()}}</td>
          <td>{{el.dateStart}}</td>
          <td>{{el.address}}</td>
          <td>{{el.isFinished}}</td>

          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  <div class="tab">
  <div class="card-header tabHeader">
    {{'achats' | translate}}
  </div>
  <div id="chart">
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions" [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend"
      [fill]="chartOptions.fill" [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip"
      [xaxis]="chartOptions.xaxis"></apx-chart>
  </div>
</div>
</ion-content>