#chart {
    max-width: 650px;
    margin: 35px auto;
  }
  fieldset { border: 0; }
fieldset.display { border: 1px solid #cccccc; }
.tabHeader
{
  background-color: orange;
  color: white;
  text-align: center;
  border: 1px solid lightgray;
border-radius: 4px;
}
.tab{
  margin: 10px;
border-bottom: 1px solid black;
}