<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Contacts
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
  <div class="card text-center">
    <div class="card-header">
    Mes clients
    </div>
    <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar">
  
    <table class="table table-bordered table-striped mb-0">
    <thead>
      <tr>
      <th scope="col">#</th>
      <th scope="col">Prénom</th>
      <th scope="col">Nom</th>
      <th scope="col">Adresse</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <th scope="row">1</th>
      <td>Tolga</td>
      <td>Ovali</td>
      <td>Montegnée, Belgique</td>
      </tr>
      <tr>
      <th scope="row">2</th>
      <td>Eden</td>
      <td>Hazard</td>
      <td>La louvière, Belgique</td>
      </tr>
      <tr>
      <th scope="row">3</th>
      <td>Didier</td>
      <td>Drogba</td>
      <td>Yamoussoukro, Côte d'ivoire</td>
      </tr>
    </tbody>
    </table>
  </div>
  <div class="card-footer text-muted">
      <button type="button" class="btn btn-secondary" tab="clientForm" >Nouveau client</button>
    </div>
  </div>
  <!--
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Tab 3</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <app-explore-container name="Tab 3 page"></app-explore-container>
  -->
</ion-content>
