<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{'category' | translate}}</ion-title>
    <ion-button (click)="GoBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<div class="container" style="overflow-y: auto; background-color: white;">
  <form [formGroup]="formCat" (ngSubmit)="onSubmit()">

    <ion-item class="form-group" required="required">
      <ion-label position="floating">{{'nameCategory' | translate}}</ion-label>
      <ion-input type="text" id="categoryName" name="categoryName" formControlName="categoryName" placeholder="..."
        required="required" maxlength="50"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label>{{'subCategory' | translate}}</ion-label>
      <ion-select interface="alert" okText="Ok" cancelText="Annuler" formControlName="categoryPar"
        (change)="changePar($event)">
        <ion-select-option></ion-select-option>
        <ion-select-option *ngFor="let c of catList" [value]="c.categoryId"> {{c.categoryName}} </ion-select-option>
      </ion-select>
    </ion-item> -->

    <ion-item>
      <ion-label>{{'subCategory' | translate}}</ion-label>
      <ionic-selectable
        [(ngModel)]="selectedCategory"
        [items]="catList"
        itemValueField="categoryId"
        itemTextField="categoryName"
        [canSearch]="true"
        formControlName="categoryPar"
        (ionChange)="changePar($event)">
      </ionic-selectable>
    </ion-item>

    <hr>

    <label for="imgCat">{{'picCategory' | translate}}</label>
    <input id="imgCat" type="file" class="form-control" multiple="" (change)="onFileChange($event)">
    <!-- <button type="button" class="btn btn-danger btn-lg" (click)="resetImages()">Réinitialiser</button>

    <img *ngFor='let url of images' [src]="url" height="150" width="200px" style="margin: 3px;"> <br /> -->
    <!-- <div *ngFor="let img of images"> -->
    <img class="original" [src]="images" height="150" width="200px" style="margin: 3px;" />
    <dx-button type="submit" icon="fas fa-trash" (click)="resetImages()" class="btn btn-danger">
    </dx-button>
    <!-- </div> -->


    <hr>

    <ion-item>
      <ion-label position="floating">{{'description' | translate}}</ion-label>
      <ion-textarea id="description" name="description" formControlName="description" placeholder="..."
        style="height:100px;" maxlength="50"></ion-textarea>
    </ion-item>

    <input type="submit" value="{{'createCategory' | translate}}">
  </form>
</div>