<ion-header>
  <ion-toolbar>
    <ion-button (click)="GoBack()">
      <ion-icon name="arrow-back"></ion-icon>
      <ion-label>Retour</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-header>
<div class="container" style="overflow-y: auto;">
  <form [formGroup]="formCat" (ngSubmit)="onSubmit()">

    <div class="form-group" required="required">
      <label for="categoryName">Nom catégorie</label>
      <input type="text" id="categoryName" name="categoryName" formControlName="categoryName" placeholder="..."
        required="required">
    </div>
    <label for="categoryPar">Sous-Catégorie</label>
    <select formControlName="categoryPar" (change)="changePar($event)">
      <option></option>
      <option *ngFor="let c of catList" [value]="c.categoryId"> {{c.categoryName}} </option>
    </select>
    <hr>

    <label for="imgCat">Photo de la catégorie</label>
    <input id="imgCat" type="file" class="form-control" multiple="" (change)="onFileChange($event)">
    <!-- <button type="button" class="btn btn-danger btn-lg" (click)="resetImages()">Réinitialiser</button>

    <img *ngFor='let url of images' [src]="url" height="150" width="200px" style="margin: 3px;"> <br /> -->
    <!-- <div *ngFor="let img of images"> -->
    <img class="original" [src]="images" height="150" width="200px" style="margin: 3px;" />
    <button type="submit" (click)="resetImages()" class="btn btn-danger">
      <i class="far fa-trash-alt"></i>
    </button>
    <!-- </div> -->


    <hr>
    <label for="description">Description</label>
    <textarea id="description" name="description" formControlName="description" placeholder="..."
      style="height:100px;"></textarea>

    <input type="submit" value="Créer catégorie">
  </form>
</div>