<div class="container" style="overflow-y: auto;">
  <form [formGroup]="formChantier" (ngSubmit)="SaveChantier()">
    {{formChantier.valid}}
    <label for="chantierName">Nom chantier</label>
    <input type="text" id="chantierName" name="chantierName" formControlName="chantierName" placeholder="...">

    <label for="address">Adresse du chantier</label>
    <input type="text" id="address" name="address" formControlName="address" placeholder="...">
    <hr>
    <label for="description">Description</label>
    <textarea id="description" name="description" formControlName="description" placeholder="..."
      style="height:100px;"></textarea>

  <div class="card-header">
    Images du chantier
  </div>
    <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0">

        <thead>
          <tr>
            <th *ngFor="let head of headElementsInv" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor='let url of imagesC'>
            <!-- <th scope="row">{{el.id}}</th> -->
            <td>test</td>
            <td>test</td>
            <td><img src="{{url}}" alt="" height=100 width=100/></td>
            <td><button>DELETE</button></td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="card-footer text-muted">
      <input id="imgChantier" type="file" class="form-control" multiple="" (change)="onFileChangeChantier($event)">
    </div>

    <hr>
    <div class="card-header">
      Factures
    </div>
    <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0">

        <thead>
          <tr>
            <th *ngFor="let head of headElementsInv" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let inv of invList" (click)="openInvoice(inv)">
            <!-- <th scope="row">{{el.id}}</th> -->
            <td>{{inv.factureName}}</td>
            <td>{{inv.priceHtva}}</td>
            <td>{{inv.date}}</td>
            <td><button (click)="deleteInvoice(inv)">DELETE</button></td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="card-footer text-muted">
      <button type="button" class="btn btn-secondary" (click)="scanInvoice()">Scanner facture</button>
    </div>
    <div class="card-footer text-muted">
      <button type="button" class="btn btn-secondary" (click)="createInvoice()">Créer facture</button>
    </div>

    <hr>
    <div class="card-header">
      Devis
    </div>
    <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0">

        <thead>
          <tr>
            <th *ngFor="let head of headElementsInv" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let inv of invList" (click)="openInvoice(inv)">
            <!-- <th scope="row">{{el.id}}</th> -->
            <td>{{inv.factureName}}</td>
            <td>{{inv.priceHtva}}</td>
            <td>{{inv.date}}</td>
            <td><button (click)="deleteInvoice(inv)">DELETE</button></td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="card-footer text-muted">
      <button type="button" class="btn btn-secondary" (click)="createInvoice()">Scanner devis</button>
    </div>
    <div class="card-footer text-muted">
      <button type="button" class="btn btn-secondary" (click)="createInvoice()">Créer devis</button>
    </div>
    <hr>
    <div class="card-header">
      Heures préstées
    </div>
    <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0">

        <thead>
          <tr>
            <th *ngFor="let head of headElementsHour" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let h of hoursList" (click)="openHour(h)">
            <!-- <th scope="row">{{h.id}}</th> -->
            <td>{{h.description}}</td>
            <td>{{h.workTime}}</td>
            <td>{{h.date}}</td>
            <td><button (click)="deleteHour(h)">DELETE</button></td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="card-footer">
      Total des heures : {{totalHours}}
    </div>
    <div class="card-footer text-muted">
      <button type="button" class="btn btn-secondary" (click)="AddHour()">Ajouter prestation</button>
    </div>

    <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0">

        <thead>
          <tr>
            <th *ngFor="let head of headElementsInv" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor='let url of imagesT'>
            <!-- <th scope="row">{{el.id}}</th> -->
            <td>test</td>
            <td>test</td>
            <td><img src="{{url}}" alt="" height=100 width=100/></td>
            <td><button>DELETE</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer text-muted">
      <input id="imgChantier" type="file" class="form-control" multiple="" (change)="onFileChangeTicket($event)">
    </div>

    <div class="card-header">
      Argent reçu
    </div>
    <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0">

        <thead>
          <tr>
            <th *ngFor="let head of headElementsHour" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let h of hoursList" (click)="openHour(h)">
            <!-- <th scope="row">{{h.id}}</th> -->
            <td>{{h.description}}</td>
            <td>{{h.workTime}}</td>
            <td>{{h.date}}</td>
            <td><button (click)="deleteHour(h)">DELETE</button></td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="card-footer">
      Total des heures : {{totalHours}}
    </div>
    <div class="card-footer text-muted">
      <button type="button" class="btn btn-secondary" (click)="AddHour()">Ajouter prestation</button>
    </div>

    <button type="submit" class="btn btn-success">Actualiser chantier</button>
    <button type="submit" class="btn btn-danger" (click)="FinishChantier()">Terminer chantier</button>

  </form>
</div>