<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Contacts
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">

    <div class="container">
      <form action="action_page.php">
          
          <label for="name">Nom chantier</label>
      <input type="text" id="name" name="name" placeholder="...">
      
      <label for="client">Client</label>
      <select id="client" name="client">
        <option value="none"></option>
        <option value="tolg">Tolga Ovali</option>
        <option value="ed">Eden Hazard</option>
      </select>
      <button class="btn"><i class="fa fa-home">Nouveau client ?</i></button>
      <hr>
      <label for="descript">Description</label>
      <textarea id="descript" name="descript" placeholder="..." style="height:100px;"></textarea>
  
  
      <input type="submit" value="Créer chantier">
      </form>
    </div> 
  </ion-content>