<div class="container" style="overflow-y: auto;">
  <form [formGroup]="formChantier" (ngSubmit)="SaveChantier()">
    {{formChantier.valid}}
    <label for="chantierName">Nom chantier</label>
    <input type="text" id="chantierName" name="chantierName" formControlName="chantierName" placeholder="...">

    <!-- <label for="client">Client</label>
    <select formControlName="clientLastName">
      <option *ngFor="let name of clientList" [value]="name.lastName"> {{name.lastName}}      </option>
    </select>
    
    <button class="btn"><i class="fa fa-home" (click)="NewClient()">Nouveau client ?</i></button> -->

    <hr>
    <label for="description">Description</label>
    <textarea id="description" name="description" formControlName="description" placeholder="..."
      style="height:100px;"></textarea>

    <label for="imgChantier">Photos chantier</label>
    <!-- Select File -->
    <input id="imgChantier" type="file" class="form-control" multiple=""
      (change)="onFileChange($event)">
    <button type="button" class="btn btn-danger btn-lg" (click)="resetImages()">Réinitialiser</button>
      <!-- <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
      <div *ngIf="f.file.errors.required">File is required.</div>
    </div> -->
    <img *ngFor='let url of images' [src]="url" height="150" width="200px" style="margin: 3px;"> <br />


    <hr>
    <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0">
        
        <thead>
          <tr>
            <th *ngFor="let head of headElementsInv" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let inv of invList" (click)="openInvoice(inv)" >
            <!-- <th scope="row">{{el.id}}</th> -->
            <td>{{inv.factureName}}</td>
            <td>{{inv.priceHtva}}</td>
            <td>{{inv.date}}</td>
            <td><button (click)="deleteInvoice(inv)">DELETE</button></td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="card-footer text-muted">
      <button type="button" class="btn btn-secondary" (click)="createInvoice()">Nouvelle facture</button>
    </div>

    <hr>
    <label for="client">Devis</label>
    <select id="client" name="client">
      <option value="none"></option>
      <option value="tolg">Chauffage</option>
      <option value="ed">Cheminée</option>
    </select>
    <button class="btn"><i class="fa fa-home">Ajouter devis</i></button>
    <button class="btn"><i class="fa fa-home">Modifier devis</i></button>

    <hr>
    <label for="client">Heures préstées</label>
    <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0">
        
        <thead>
          <tr>
            <th *ngFor="let head of headElementsHour" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let h of hoursList" (click)="openHour(h)">
            <!-- <th scope="row">{{h.id}}</th> --> 
            <td>{{h.description}}</td>
            <td>{{h.workTime}}</td>
            <td>{{h.date}}</td>
            <td><button (click)="deleteHour(h)">DELETE</button></td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="card-footer text-muted">
      <button type="button" class="btn btn-secondary" (click)="AddHour()">Ajouter prestation</button>
    </div>

    <button type="submit" class="btn btn-success">Actualiser chantier</button>
    <button type="submit" class="btn btn-danger" (click)="FinishChantier()">Terminer chantier</button>

  </form>
</div>