<ion-content style="justify-content: start;">
<!-- <ion-header>
  <ion-toolbar>
    <ion-button (click)="GoBack()">
      <ion-icon name="arrow-left"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header> -->

  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="top">
        <dx-button icon="fas fa-arrow-left" (click)="GoBack()" style="background-color: orange;">
        </dx-button>
        <ion-tab-button (click)="SetTabView('general')">
          <ion-icon name="information-circle"></ion-icon>
          <ion-label>{{'general' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="SetTabView('achats')">
          <ion-icon name="copy"></ion-icon>
          <ion-label>{{'achats' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="SetTabView('travail')">
          <ion-icon name="hammer"></ion-icon>
          <ion-label>{{'work' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="SetTabView('images')">
          <ion-icon name="images"></ion-icon>
          <ion-label>{{'pictures' | translate}}</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>

<div style="overflow-y: auto; justify-content: start; background-color: white; overflow-x: hidden;">
  <form [formGroup]="formChantier" (ngSubmit)="SaveChantier()">
    <div [hidden]="(TabView !== 'general')" class="jumbotron text-center" style="margin-bottom: 0; padding-bottom: 1px; padding-top: 1px;">
      <div class="card-header tabHeader">
        {{'infos' | translate}}
      </div>
      <ion-item class="form-group" required="required">
        <ion-label position="stacked">{{'nameWorksite' | translate}}</ion-label>
        <ion-input type="text" id="name" name="name" formControlName="chantierName" placeholder="..."
          required="required" maxlength="50"></ion-input>
      </ion-item>

      <ion-item class="form-group" required="required">
        <ion-label position="stacked">{{'worksiteAddress' | translate}}</ion-label>
        <ion-input type="text" id="address" name="address" formControlName="address" placeholder="..." maxlength="50"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">{{'description' | translate}}</ion-label>
        <ion-textarea id="description" name="description" formControlName="description" placeholder="..." maxlength="50"
          style="height:100px;"></ion-textarea>
      </ion-item>
      <hr>
    </div>
    <div [hidden]="(TabView !== 'achats')">
      <div class="jumbotron text-center" style="margin-bottom: 0; padding-bottom: 1px; padding-top: 1px;">
        <div class="card-header tabHeader">
          {{'invoices' | translate}}
        </div>
        <div class="mat-elevation-z8">
            <dx-data-grid
            id="gridFactures"
            [dataSource]="chantier?.factures"
            keyExpr="factureId"
            [showBorders]="true"
            [title]="'invoices' | translate"
          >
          <dxo-search-panel
          [placeholder]="'search' | translate"
          [visible]="true"
          [highlightCaseSensitive]="false"
          ></dxo-search-panel>
            <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
            <dxo-paging [pageSize]="5"> </dxo-paging>
            <dxo-pager
              [visible]="true"
              [allowedPageSizes]="allowedPageSizes"
              displayMode="full"
              [showPageSizeSelector]="showPageSizeSelector"
              [showInfo]="showInfo"
              [showNavigationButtons]="showNavButtons"
            >
            </dxo-pager>
            <dxi-column
            dataField="factureName"
            [caption]="'invoiceName' | translate"
            >
            </dxi-column>
            <dxi-column
            dataField="totalPrice"
            [caption]="'total' | translate"
            cellTemplate="priceTemplate"
            >
            </dxi-column>
            <dxi-column
            dataField="date"
            [caption]="'date' | translate"
            dataType="date"
            format="dd/MM/yyyy"
            >
            </dxi-column>
            <dxi-column
            [caption]="'state' | translate"
            cellTemplate="stateTemplate"
            >
            </dxi-column>
            <dxi-column
            [caption]="'...'"
            cellTemplate="buttonsTemplate"
            >
          
            </dxi-column>
            <div *dxTemplate="let el of 'stateTemplate'" style="color: red;">
              {{IsInvoicePaid(el.data)}}
            </div>
            <div *dxTemplate="let el of 'priceTemplate'">
              {{el.data.priceHtva + this.devise}}
            </div>
            <div *dxTemplate="let el of 'buttonsTemplate'">
              <button type="button" mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                <mat-icon>toc</mat-icon>

              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item type="button" (click)="openInvoice(el.data)">
                  <mat-icon>edit</mat-icon>
                  <span>{{'editInv' | translate}}</span>
                </button>
                <button mat-menu-item type="button" (click)="GeneratePDFInvoice(el.data)">
                  <mat-icon>picture_as_pdf</mat-icon>
                  <span>{{'genPDF' | translate}}</span>
                </button>
                <button mat-menu-item type="button" (click)="deleteInvoice(el.data)">
                  <mat-icon>delete</mat-icon>
                  <span>{{'delete' | translate}}</span>
                </button>
              </mat-menu>
            </div>
          </dx-data-grid>
        </div>
        <div class="card-footer text-muted" style="text-align:center; display: flex;
        justify-content: space-evenly;
        align-items: center;">
          <dx-button type="button" class="btn btn-secondary" style="background-color:orange;" (click)="scanInvoice()" icon="fas fa-paste" [text]="'scanInvoice' | translate"></dx-button>
          <dx-button type="button" class="btn btn-secondary" style="background-color:orange;" (click)="createInvoice()" icon="fas fa-file-invoice" [text]="'createInvoice' | translate"></dx-button>
        </div>
      </div>

      <hr>
      <div class="jumbotron text-center" style="margin-bottom: 0; padding-bottom: 1px; padding-top: 1px;">
        <div class="card-header tabHeader">
          {{'estimate' | translate}}
        </div>

        <!-- <mat-form-field appearance="standard">
          <mat-label>{{'search' | translate}}</mat-label>
          <input matInput (keyup)="applyFilterDevis($event)" placeholder="Ex. Mia" #input>
        </mat-form-field> -->

        <div class="mat-elevation-z8">
          <dx-data-grid
          id="gridDevis"
          [dataSource]="chantier?.devis"
          keyExpr="factureId"
          [showBorders]="true"
          [title]="'estimates' | translate"
        >
        <dxo-search-panel
        [visible]="true"
        [highlightCaseSensitive]="false"
        [placeholder]="'search' | translate"
        ></dxo-search-panel>
          <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
          <dxo-paging [pageSize]="5"> </dxo-paging>
          <dxo-pager
            [visible]="true"
            [allowedPageSizes]="allowedPageSizes"
            displayMode="full"
            [showPageSizeSelector]="showPageSizeSelector"
            [showInfo]="showInfo"
            [showNavigationButtons]="showNavButtons"
          >
          </dxo-pager>
          <dxi-column
          dataField="factureName"
          [caption]="'estimateName' | translate"
          >
          </dxi-column>
          <dxi-column
          dataField="totalPrice"
          [caption]="'total' | translate"
          cellTemplate="priceTemplate"
          >
          </dxi-column>
          <dxi-column
          dataField="date"
          [caption]="'date' | translate"
          dataType="date"
          format="dd/MM/yyyy"
          >
          </dxi-column>
          <dxi-column
          [caption]="'...'"
          cellTemplate="buttonsTemplate"
          >
        
          </dxi-column>
          <div *dxTemplate="let el of 'priceTemplate'">
            {{el.data.priceHtva + this.devise}}
          </div>
          <div *dxTemplate="let el of 'buttonsTemplate'">
            <button type="button" mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
              <mat-icon>toc</mat-icon>

            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item type="button" (click)="openDevis(el.data)">
                <mat-icon>edit</mat-icon>
                <span>{{'editEstimate' | translate}}</span>
              </button>
              <button mat-menu-item (click)="TransformToInvoice(el.data)" type="button">
                <mat-icon>edit</mat-icon>
                <span>{{'transformToInv' | translate}}</span>
              </button>
              <button mat-menu-item type="button" (click)="GeneratePDFInvoice(el.data)">
                <mat-icon>picture_as_pdf</mat-icon>
                <span>{{'genPDF' | translate}}</span>
              </button>
              <button mat-menu-item type="button" (click)="deleteDevis(el.data)">
                <mat-icon>delete</mat-icon>
                <span>{{'delete' | translate}}</span>
              </button>
            </mat-menu>
          </div>
        </dx-data-grid>
          <mat-paginator mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of dataSourceDevis">
          </mat-paginator>
        </div>
        <div class="card-footer text-muted" style="text-align:center; display: flex;
        justify-content: space-evenly;
        align-items: center;">
          <dx-button type="button" class="btn btn-secondary" style="background-color:orange;" (click)="scanDevis()" icon="fas fa-paste" [text]="'scanEstimate' | translate"></dx-button>
          <dx-button type="button" class="btn btn-secondary" style="background-color:orange;" (click)="createDevis()" icon="fas fa-file-invoice-dollar" [text]="'createEstimate' | translate"></dx-button>
        </div>
      </div>
      <div class="jumbotron text-center" style="margin-bottom: 0; padding-bottom: 1px; padding-top: 1px;">
        <div class="card-header tabHeader">
          {{'receivedMoney' | translate}}
        </div>
        <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar" id="managerTable">
          <table class="table table-bordered table-striped mb-0">
            <thead>
              <tr>
                <th *ngFor="let head of headElementsRecv" scope="col">{{head}} </th>
              </tr>
            </thead>
            <tbody *ngFor="let inv of chantier?.factures">
              <tr mdbTableCol *ngFor="let p of inv.receivedMoney">
                <td>{{inv.factureName}}</td>
                <td>{{p.price + this.devise}}</td>
                <td>{{inv.totalPrice + this.devise}}</td>
                <td>{{(inv?.totalPrice - GetAllReceivedMoney(inv) | number : '1.2') + this.devise}}</td>
                <td>{{p.date}}</td>
                <td (click)="$event.stopPropagation()">
                  <button mat-icon-button [matMenuTriggerFor]="menu" type="button">
                    <mat-icon>toc</mat-icon>

                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item type="button">
                      <mat-icon>edit</mat-icon>
                      <span>{{'edit' | translate}}</span>
                    </button>
                    <button mat-menu-item type="button" (click)="DeleteReceive(inv,p)">
                      <mat-icon>delete</mat-icon>
                      <span>{{'delete' | translate}}</span>
                    </button>
                  </mat-menu>
                </td>
            </tbody>
          </table>
        </div>
        <div class="card-footer text-muted">
          <dx-button type="button" class="btn btn-secondary" style="background-color:orange;" (click)="AddPayment()" 
          icon="fas fa-cart-plus" [text]="'addPayment' | translate"></dx-button>
        </div>
      </div>
      <div class="jumbotron text-center" style="margin-bottom: 0; padding-bottom: 1px; padding-top: 1px;">
        <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table table-bordered table-striped mb-0">
            <thead>
              <tr>
                <th>{{'tickets' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr mdbTableCol *ngFor='let url of imagesT'>
                <td><img src="{{url}}" alt="" height=100 width=100 /></td>
                <td> <dx-button type="button" class="btn btn-danger" style="background-color:orange;" (click)="DeleteImage(url)" icon="fas fa-trash"></dx-button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer text-muted">
          <input id="imgChantier" type="file" class="form-control" multiple="" (change)="onFileChangeTicket($event)">
        </div>
      </div>

    </div>

    <div [hidden]="(TabView !== 'travail')">
      <div class="jumbotron text-center" style="margin-bottom: 0; padding-bottom: 1px; padding-top: 1px;">
        <div class="card-header tabHeader">
          {{'hoursWorked' | translate}}
        </div>
        <div class="mat-elevation-z8">

          <dx-data-grid
          id="gridHour"
          [dataSource]="chantier?.hours"
          keyExpr="hourId"
          [showBorders]="true"
          [title]="'hoursWorked' | translate"
        >
        <dxo-search-panel
        [visible]="true"
        [highlightCaseSensitive]="false"
        [placeholder]="'search' | translate"
        ></dxo-search-panel>
          <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
          <dxo-paging [pageSize]="5"> </dxo-paging>
          <dxo-pager
            [visible]="true"
            [allowedPageSizes]="allowedPageSizes"
            displayMode="full"
            [showPageSizeSelector]="showPageSizeSelector"
            [showInfo]="showInfo"
            [showNavigationButtons]="showNavButtons"
          >
          </dxo-pager>
          <dxi-column
          dataField="description"
          [caption]="'description' | translate"
          >
          </dxi-column>
          <dxi-column
          dataField="date"
          [caption]="'hourWorked' | translate"
          dataType="date"
          format="HH:mm"
          >
          </dxi-column>
          <dxi-column
          dataField="date"
          [caption]="'date' | translate"
          dataType="date"
          format="dd/MM/yyyy"
          >
          </dxi-column>
          <dxi-column
          [caption]="'...'"
          cellTemplate="buttonsTemplate"
          >
        
          </dxi-column>
          <div *dxTemplate="let el of 'buttonsTemplate'">
            <button type="button" mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
              <mat-icon>toc</mat-icon>

            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item type="button" (click)="openHour(el.data)">
                <mat-icon>edit</mat-icon>
                <span>{{'edit' | translate}}</span>
              </button>
              <button mat-menu-item (click)="deleteHour(el.data)" type="button">
                <mat-icon>delete</mat-icon>
                <span>{{'delete' | translate}}</span>
              </button>
            </mat-menu>
          </div>
        </dx-data-grid>
        </div>

        <div class="card-footer">
          {{'totalHours' | translate}} {{totalHours}}
        </div>
        <div class="card-footer text-muted">
          <dx-button type="button" class="btn btn-secondary" style="background-color:orange;" 
          (click)="AddHour()" icon="fas fa-clock" [text]="'addWork' | translate" ></dx-button>
        </div>
      </div>
    </div>

    <div [hidden]="(TabView !== 'images')">
      <div class="jumbotron text-center" style="margin-bottom: 0; padding-bottom: 1px; padding-top: 1px;">
        <div class="card-header tabHeader">
          {{'worksitePictures' | translate}}
        </div>
        <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table table-bordered table-striped mb-0">
            <thead>
              <tr>
                <th>{{'pictures' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr mdbTableCol *ngFor='let url of imagesC'>
                <!-- <th scope="row">{{el.id}}</th> -->
                <td><img src="{{url}}" alt="" height=100 width=100 /></td>
                <td> <dx-button type="button" class="btn btn-danger" style="background-color:orange;" 
                  (click)="DeleteImageChantier(url)" icon="fas fa-trash"></dx-button></td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="card-footer text-muted">
          <input id="imgChantier" type="file" class="form-control" multiple="" (change)="onFileChangeChantier($event)">
        </div>
      </div>
    </div>
  <div class="card-footer text-muted">
    <div style="padding: 10px; margin: 5px;">
    <dx-button [useSubmitBehavior]="true" type="submit" class="btn btn-success" style="width:88%;" [text]="'updateWorksite' | translate"></dx-button>
    <dx-button type="submit" class="btn btn-danger" (click)="FinishChantier()" style="width: 88%;" [text]="'finishWorksite' | translate"></dx-button>
    </div>
  </div>
  </form>
</div>
</ion-content>