<ion-header>
  <ion-toolbar>
    <ion-button (click)="GoBack()">
      <ion-icon name="arrow-back"></ion-icon>
      <ion-label>Retour</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-header>
<div class="container" style="overflow-y: auto;">
  <form [formGroup]="formChantier" (ngSubmit)="SaveChantier()">
    {{formChantier.valid}}
    <label for="chantierName">Nom chantier</label>
    <input type="text" id="chantierName" name="chantierName" formControlName="chantierName" placeholder="...">

    <label for="address">Adresse du chantier</label>
    <input type="text" id="address" name="address" formControlName="address" placeholder="...">
    <hr>
    <label for="description">Description</label>
    <textarea id="description" name="description" formControlName="description" placeholder="..."
      style="height:100px;"></textarea>

    <div class="card-header">
      Images du chantier
    </div>
    <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th>Image</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor='let url of imagesC'>
            <!-- <th scope="row">{{el.id}}</th> -->
            <td><img src="{{url}}" alt="" height=100 width=100 /></td>
            <td> <button type="button" class="btn btn-danger"> <i class="far fa-trash-alt"></i></button></td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="card-footer text-muted">
      <input id="imgChantier" type="file" class="form-control" multiple="" (change)="onFileChangeChantier($event)">
    </div>

    <hr>
    <div class="card-header">
      Factures
    </div>
    <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0">

        <thead>
          <tr>
            <th *ngFor="let head of headElementsInv" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let inv of this.chantier?.factures">
            <!-- <th scope="row">{{el.id}}</th> -->
            <td>{{inv.factureName}}</td>
            <td>{{inv.totalPrice}}€</td>
            <td>{{inv.date}}</td>
            <td>
              <button type="button" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item type="button" (click)="openInvoice(inv)">
                  <mat-icon>edit</mat-icon>
                  <span>Modifier facture</span>
                </button>
                <button mat-menu-item type="button" (click)="GeneratePDFInvoice(inv)">
                  <mat-icon>picture_as_pdf</mat-icon>
                  <span>Génerer son PDF</span>
                </button>
                <button mat-menu-item type="button" (click)="deleteInvoice(inv)">
                  <mat-icon>delete</mat-icon>
                  <span>Supprimer</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="card-footer text-muted">
      <button type="button" class="btn btn-secondary" (click)="scanInvoice()">Scanner facture</button>
      <button type="button" class="btn btn-secondary" (click)="createInvoice()">Créer facture</button>
    </div>

    <hr>
    <div class="card-header">
      Devis
    </div>
    <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0">

        <thead>
          <tr>
            <th *ngFor="let head of headElementsInv" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let dev of chantier?.devis">
            <!-- <th scope="row">{{el.id}}</th> -->
            <td (click)="openDevis(dev)">{{dev.factureName}}</td>
            <td (click)="openDevis(dev)">{{dev.totalPrice}}€</td>
            <td (click)="openDevis(dev)">{{dev.date}}</td>
            <td (click)="$event.stopPropagation">
              <button mat-icon-button [matMenuTriggerFor]="menu" type="button">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="TransformToInvoice(dev)" type="button">
                  <mat-icon>edit</mat-icon>
                  <span>Transformer en facture</span>
                </button>
                <button mat-menu-item type="button">
                  <mat-icon>picture_as_pdf</mat-icon>
                  <span>Génerer son PDF</span>
                </button>
                <button mat-menu-item (click)="deleteDevis(dev)" type="button">
                  <mat-icon>delete</mat-icon>
                  <span>Supprimer</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="card-footer text-muted">
      <button type="button" class="btn btn-secondary" (click)="scanDevis()">Scanner devis</button>
      <button type="button" class="btn btn-secondary" (click)="createDevis()">Créer devis</button>
    </div>
    <hr>
    <div class="card-header">
      Heures préstées
    </div>
    <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0">

        <thead>
          <tr>
            <th *ngFor="let head of headElementsHour" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let h of chantier?.hours" (click)="openHour(h)">
            <!-- <th scope="row">{{h.id}}</th> -->
            <td>{{h.description}}</td>
            <td>{{h.workTime}}</td>
            <td>{{h.date}}</td>
            <td (click)="$event.stopPropagation()" type="button">
              <button mat-icon-button [matMenuTriggerFor]="menu" type="button">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu" (click)="$event.stopPropagation()">
                <button mat-menu-item type="button">
                  <mat-icon>edit</mat-icon>
                  <span>Modifier</span>
                </button>
                <button mat-menu-item (click)="deleteHour(h)" type="button">
                  <mat-icon>delete</mat-icon>
                  <span>Supprimer</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      Total des heures : {{totalHours}}
    </div>
    <div class="card-footer text-muted">
      <button type="button" class="btn btn-secondary" (click)="AddHour()">Ajouter prestation</button>
    </div>

    <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0">

        <thead>
          <tr>
            <th>Image</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor='let url of imagesT'>
            <!-- <th scope="row">{{el.id}}</th> -->
            <td>test</td>
            <td>test</td>
            <td><img src="{{url}}" alt="" height=100 width=100 /></td>
            <td> <button type="button" class="btn btn-danger"> <i class="far fa-trash-alt"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer text-muted">
      <input id="imgChantier" type="file" class="form-control" multiple="" (change)="onFileChangeTicket($event)">
    </div>

    <div class="card-header">
      Argent reçu
    </div>
    <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th *ngFor="let head of headElementsRecv" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody *ngFor="let inv of chantier?.factures">
          <tr mdbTableCol *ngFor="let p of inv.receivedMoney">
          <!-- <th scope="row">{{h.id}}</th> -->
          <td>{{inv.factureName}}</td>
          <td>{{p.price}}</td>
          <td>{{inv.totalPrice}}</td>
          <td>{{inv?.totalPrice - GetAllReceivedMoney(inv) | number : '1.2'}}</td>
          <td>{{p.date}}</td>
          <td> <button type="button" (click)="DeleteReceive(inv,p)"> </button></td>
          <td (click)="$event.stopPropagation()">
            <button mat-icon-button [matMenuTriggerFor]="menu" type="button">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item type="button">
                <mat-icon>edit</mat-icon>
                <span>Modifier</span>
              </button>
              <button mat-menu-item type="button">
                <mat-icon>delete</mat-icon>
                <span>Supprimer</span>
              </button>
            </mat-menu>
          </td>          <!-- </tr> -->
        </tbody>
      </table>
    </div>
    <div class="card-footer text-muted">
      <button type="button" class="btn btn-secondary" (click)="AddPayment()">Ajouter paiement</button>
    </div>

    <button type="submit" class="btn btn-success">Actualiser chantier</button>
    <button type="submit" class="btn btn-danger" (click)="FinishChantier()">Terminer chantier</button>
  </form>
</div>