<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{'myArticles' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="justify-content: start;">

<div style="overflow-y: auto; background-color: white;">
 <!-- Basic -->
<ion-accordion-group [value]="openCatAccordion">
  <ion-accordion value="categories">
    <ion-item slot="header" class="tabHeader" style="text-align: left;">
      <ion-label>{{'Categories' | translate}}</ion-label>
    </ion-item>

    <ion-list slot="content">
      <ion-item>
        <ion-label [hidden]="this.catList!=null">    {{'noCategories' | translate}}</ion-label>
        <div class="container" style="overflow-y: auto;">
          <div class="row">
            <mat-card class="example-card col-4" *ngFor="let el of catList">
              <mat-card-title-group (click)="EnterCategory(el)">
                <mat-card-title>{{el.categoryName}}</mat-card-title>
                <mat-card-subtitle>{{el.description}}</mat-card-subtitle>
                <img class="img-fluid" mat-card-lg-image src="{{el.categoryImage}}" 
                     style='max-width: 70px; max-height: 70px;' [border]="0" alt="Null"
                     onerror="this.onerror=null; this.src='assets/icon/White-square.jpg'">
              </mat-card-title-group>
              <dx-button type="button" (click)="ModifyCategory(el)" icon="fas fa-bars"></dx-button>
            </mat-card>
          </div>
      
          <div class="card-footer text-muted" style="text-align: center;">
            <dx-button [hidden]="this.actualCat==null" type="button" class="btn btn-secondary" (click)="BackCategory()" style="background-color:orange;" icon="fas fa-angle-left" [text]="'back' | translate"></dx-button>
            <dx-button type="button" class="btn btn-secondary" (click)="CreateCategory()" icon="fas fa-plus" style="background-color:orange;" [text]="'newCategory' | translate"></dx-button>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-accordion>
</ion-accordion-group>
<div class="card-header tabHeader">
    {{'myArticles' | translate}}
  </div>
  <div [hidden]="artList?.length>0">
    {{'noData' | translate}}
  </div>
  <div class="col-auto" [hidden]="artList?.length==0">
    <dx-data-grid
      id="gridClient"
      [dataSource]="artList"
      keyExpr="productId"
      [showBorders]="true"
      [title]="'myArticles' | translate"
    >
    <dxo-search-panel
    [visible]="true"
    [highlightCaseSensitive]="false"
    ></dxo-search-panel>
      <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
      <dxo-paging [pageSize]="10"> </dxo-paging>
      <dxo-pager
        [visible]="true"
        [allowedPageSizes]="allowedPageSizes"
        displayMode="full"
        [showPageSizeSelector]="showPageSizeSelector"
        [showInfo]="showInfo"
        [showNavigationButtons]="showNavButtons"
      >
      </dxo-pager>
      <dxi-column
      dataField="productName"
      [caption]="'productName' | translate"
      >
      </dxi-column>
      <dxi-column
      dataField="description"
      [caption]="'description' | translate"
      >
      </dxi-column>
      <dxi-column
      dataField="priceHtva"
      [caption]="'htvaPrice' | translate"
      >
      </dxi-column>
      <dxi-column
      [caption]="'...'"
      cellTemplate="buttonsTemplate"
      >
    
      </dxi-column>
      <div *dxTemplate="let el of 'buttonsTemplate'">
        <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
          <mat-icon>toc</mat-icon>
    
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="ModifyProduct(el.data)" type="button">
            <mat-icon>edit</mat-icon>
            <span>{{'edit' | translate}}</span>
          </button>
          <button mat-menu-item (click)="DeleteProduct(el.data)" type="button">
            <mat-icon>delete</mat-icon>
            <span>{{'delete' | translate}}</span>
          </button>
        </mat-menu>
      </div>
    </dx-data-grid>
    <!-- <table class="table table-bordered table-striped mb-0">

      <thead>
        <tr>
          <th *ngFor="let head of headElementsArt" scope="col">{{head}} </th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let p of artList">
          <td>{{p.productName}}</td>
          <td>{{p.description}}</td>
          <td>{{p.priceHtva}}</td>
          <td (click)="$event.stopPropagation()">
            <button mat-icon-button [matMenuTriggerFor]="menu" type="button">
              <mat-icon>toc</mat-icon>

            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="ModifyProduct(p)" type="button">
                <mat-icon>edit</mat-icon>
                <span>{{'edit' | translate}}</span>
              </button>
              <button mat-menu-item (click)="DeleteProduct(p)" type="button">
                <mat-icon>delete</mat-icon>
                <span>{{'delete' | translate}}</span>
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table> -->

  </div>
  <div class="card-footer text-muted" style="text-align: center;">
    <dx-button type="button" class="btn btn-secondary" (click)="CreateProduct()" style="background-color:orange;" icon="fas fa-plus" [text]="'new product' | translate"></dx-button>
  </div>
</div>
</ion-content>
