<ion-header>
  <ion-toolbar>
    <ion-button (click)="GoBack()">
      <ion-icon name="arrow-back"></ion-icon>
      <ion-label>{{'back' | translate}}</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-header>
<div class="container" style="overflow-y: auto;">

  <form [formGroup]="formPay" (ngSubmit)="SavePay()">
    <div class="card-header">
      {{'selectInvoice' | translate}}
    </div>
    <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0">

        <thead>
          <tr>
            <th *ngFor="let head of headElementsInv" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let inv of this.chantier?.factures" (click)="SelectInvoice(inv)" [ngClass]="{'class_name': inv === selectedInv}" >
            <!-- [ngClass]="{ 'selectedInv' : inv }"> -->
            <!-- <th scope="row">{{el.id}}</th> -->
            <td>{{inv.factureName}}</td>
            <td>{{inv.totalPrice}}</td>
            <td>{{inv?.totalPrice - GetAllReceivedMoney(inv) | number : '1.2'}}</td>
            <td>{{inv.date}}</td>
        </tbody>

      </table>

    </div>
    <!-- <div>
      <label for="">Reste à payer : {{selectedInv?.totalPrice - ReceivedMoney }}</label>
    </div> -->
    <ion-item class="form-group" required="required">
      <ion-label position="floating">{{'payment' | translate}}</ion-label>
      <ion-input type="number" id="payment" name="payment" formControlName="payment" placeholder="..." required="required"></ion-input>
    </ion-item>
    <button class="btn btn-danger"> {{'addPay' | translate}}</button>
  </form>
  <button type="submit" class="btn btn-danger" (click)="Terminer()">{{'savePay' | translate}}</button>

</div>