<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{'payment' | translate}}</ion-title>
    <dx-button slot="start" (click)="GoBack()" icon="fas fa-arrow-left" style="background-color: orange;">
    </dx-button>
  </ion-toolbar>
</ion-header>
<div class="container" style="overflow-y: auto; background-color: white; height: 100%; width: 100%;">

  <form [formGroup]="formPay" (ngSubmit)="SavePay()">
    <div class="card-header tabHeader">
      {{'selectInvoice' | translate}}
    </div>
    <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0">

        <thead>
          <tr>
            <th *ngFor="let head of headElementsInv" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let inv of this.chantier?.factures" (click)="SelectInvoice(inv)" [ngClass]="{'class_name': inv === selectedInv}" >
            <!-- [ngClass]="{ 'selectedInv' : inv }"> -->
            <!-- <th scope="row">{{el.id}}</th> -->
            <td>{{inv.factureName}}</td>
            <td>{{inv.totalPrice}}</td>
            <td>{{inv?.totalPrice - GetAllReceivedMoney(inv) | number : '1.2'}}</td>
            <td>{{inv.date}}</td>
        </tbody>

      </table>

    </div>
    <!-- <div>
      <label for="">Reste à payer : {{selectedInv?.totalPrice - ReceivedMoney }}</label>
    </div> -->
    <ion-item class="form-group" style="margin-top: 10px" required="required">
      <ion-label>{{'payment' | translate}}</ion-label>
      <ion-input type="number" id="payment" name="payment" formControlName="payment" placeholder="123,45" required="required"
      maxlength="12"></ion-input>
    </ion-item>
    <div class="card-footer text-muted" style="text-align:center; display: flex;
  justify-content: space-evenly;
  align-items: center;">
    <dx-button [useSubmitBehavior]="true" icon="fas fa-cash-register" class="btn btn-danger" style="background-color:orange;" [text]="'addPay' | translate"></dx-button>
    <dx-button [useSubmitBehavior]="false" class="btn btn-danger" (click)="Terminer()" [text]="'savePay' | translate" style="background-color: orange;"></dx-button>
  </div>
  </form>

</div>