<ion-header>
  <ion-toolbar>
    <ion-button (click)="GoBack()">
      <ion-icon name="arrow-back"></ion-icon>
      <ion-label>Retour</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-header>
<div class="container" style="overflow-y: auto;">
  <form [formGroup]="formInv" (ngSubmit)="onSubmit()">

    <label for="factureName" [hidden]="type=='devis'">Nom facture</label>
    <label for="factureName" [hidden]="type=='facture'">Nom devis</label>

    <input type="text" id="factureName" name="factureName" formControlName="factureName" placeholder="...">

    <button for="art" [hidden]="ScanMode" (click)="GoShopping()" type="button">Ajouter articles</button>
    <div class="card-header" [hidden]="ScanMode">
      Panier
    </div>
    <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar" [hidden]="ScanMode">
      <table class="table table-bordered table-striped mb-0">

        <thead>
          <tr>
            <th *ngFor="let head of headElementsArt" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let p of panierList">
            <!-- <th scope="row">{{el.id}}</th> -->
            <td>{{p.productName}}</td>
            <td>{{p.description}}</td>
            <td>{{p.priceHtva}}</td>
            <!-- <td>{{p.categoryId}}</td> -->
          </tr>
        </tbody>
      </table>

    </div>
    <div [hidden]="type=='devis'">
      <label for="imgFactures" [hidden]="!ScanMode">Photos facture</label>
    </div>
    <div [hidden]="type=='facture'">
      <label for="imgFactures" [hidden]="!ScanMode">Photos devis</label>
    </div>

    <!-- Select File -->
    <input [hidden]="!ScanMode" id="imgFactures" type="file" class="form-control" multiple=""
      (change)="onFileChange($event)">
    <!-- <button [hidden]="!ScanMode" type="button" class="btn btn-danger btn-lg" (click)="resetImages()">Réinitialiser</button> -->
    <!-- <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
      <div *ngIf="f.file.errors.required">File is required.</div>
    </div> -->
    <!-- <img [hidden]="!ScanMode" *ngFor='let url of images' [src]="url" height="150" width="200px" style="margin: 3px;"> <br /> -->

    <div *ngFor="let img of images">
      <img [hidden]="!ScanMode" class="original" [alt]="img.Name" [src]="img" height="150" width="200px"
        style="margin: 3px;" />
      <button type="submit" (click)="resetImages()" class="btn btn-danger">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
    <label for="typePay">Type de paiement</label>
    <select formControlName="typePay">
      <option value='cash'>Paiement cash</option>
      <option value='bancaire'>Virement bancaire</option>
    </select>
    <!-- articles -->
    <label for="htva" [hidden]="ScanMode">Prix HTVA</label>
    <input type="text" [hidden]="ScanMode" id="htva" name="htva" formControlName="priceHtva" placeholder="...">

    <label for="tva" [hidden]="ScanMode">TVA</label>
    <input type="text" [hidden]="ScanMode" id="tva" name="tva" formControlName="tva" placeholder="...">

    <label for="remise" [hidden]="ScanMode">Remise</label>
    <input type="text" [hidden]="ScanMode" id="remise" name="remise" formControlName="remise" placeholder="...">

    <label for="totalPrice" [hidden]="!ScanMode">Prix à payer</label>
    <input type="text" [hidden]="!ScanMode" id="totalPrice" name="totalPrice" formControlName="totalPrice"
      placeholder="125,35">

    <hr>
    <label for="description">Description</label>
    <textarea id="description" name="description" formControlName="description" placeholder="..."
      style="height:100px;"></textarea>

    <div [hidden]="type=='devis'">
      <input type="submit" [hidden]="!ScanMode" value="Scanner chantier">
      <input type="submit" [hidden]="ScanMode==true" value="Créer chantier">
    </div>
    <div [hidden]="type!='devis'">
      <input type="submit" [hidden]="!ScanMode" value="Scanner devis">
      <input type="submit" [hidden]="ScanMode==true" value="Créer devis">
    </div>
  </form>
  {{formInv.valid}}
</div>