<div class="container" style="overflow-y: auto;">
  <ion-header>
    <ion-toolbar>
      <ion-button (click)="GoBack()">
        <ion-icon name="arrow-back"></ion-icon>
        <ion-label>{{'back' | translate}}</ion-label>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="formArt" (ngSubmit)="onSubmit()">

    <ion-item class="form-group" required="required">
      <ion-label position="floating">{{'nameProduct' | translate}}</ion-label>
      <ion-input type="text" id="productName" name="productName" formControlName="productName" placeholder="..."
      required="required"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label>{{'category' | translate}}</ion-label>
      <ion-select interface="alert" okText="Ok" cancelText="Annuler" formControlName="category"
        (change)="selectCategory($event)">
        <ion-select-option></ion-select-option>
        <ion-select-option *ngFor="let c of catList" [value]="c.categoryId" >
          {{c.categoryName}}  </ion-select-option>
      </ion-select>
    </ion-item> -->

    <ion-item>
      <ion-label>{{'category' | translate}}</ion-label>
      <ionic-selectable
        [(ngModel)]="selectedCat"
        [items]="catList"
        itemValueField="categoryId"
        itemTextField="categoryName"
        [canSearch]="true"
        formControlName="category"
        (ionChange)="selectCategory($event)">
      </ionic-selectable>
    </ion-item>
    <hr>

    <label for="imgCat">{{'picProduct' | translate}}</label>
    <input id="imgCat" type="file" class="form-control" multiple="" (change)="onFileChange($event)">
    <!-- <button type="button" class="btn btn-danger btn-lg" (click)="resetImages()">Réinitialiser</button>

    <img *ngFor='let url of images' [src]="url" height="150" width="200px" style="margin: 3px;"> <br /> -->
    <!-- <div *ngFor="let img of images"> -->
    <img class="original" [src]="images" height="150" width="200px" style="margin: 3px;" />
    <ion-content>
      <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="addPhotoToGallery()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-content>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
            <ion-img [src]="photo.webviewPath"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    
      <!-- ion-fab markup  -->
    </ion-content>
    <button type="submit" (click)="resetImages()" class="btn btn-danger">
      <i class="far fa-trash-alt"></i>
    </button>
    <!-- </div> -->

    <ion-item class="form-group" required="required">
      <ion-label position="floating">{{'htvaPrice' | translate}}</ion-label>
      <ion-input type="text" id="priceHtva" name="priceHtva" formControlName="priceHtva" placeholder="..."
      required="required"></ion-input>
    </ion-item>
    <hr>
    <ion-item>
      <ion-label position="floating">{{'description' | translate}}</ion-label>
      <ion-textarea id="description" name="description" formControlName="description" placeholder="..."
        style="height:100px;"></ion-textarea>
    </ion-item>

    <input type="submit" value="{{'addProduct' | translate}}">
  </form>
</div>