<div class="container" style="overflow-y: auto;">
  <form [formGroup]="formArt" (ngSubmit)="onSubmit()">

    <label for="productName">Nom article</label>
    <input type="text" id="productName" name="productName" formControlName="productName" placeholder="...">

    <label for="category">Catégorie</label>
    <select formControlName="category">
      <option></option>
      <option *ngFor="let c of catList" [value]="c.categoryId"> {{c.categoryName}}      </option>
    </select>
    <hr>

    <label for="imgCat">Photo de l'article</label>
    <input  id="imgCat" type="file" class="form-control" multiple=""
      (change)="onFileChange($event)">
    <button type="button" class="btn btn-danger btn-lg" (click)="resetImages()">Réinitialiser</button>

    <img *ngFor='let url of images' [src]="url" height="150" width="200px" style="margin: 3px;"> <br />

    <label for="priceHtva">Prix HTVA</label>
    <input type="text" id="priceHtva" name="priceHtva" formControlName="priceHtva" placeholder="...">

    <hr>
    <label for="description">Description</label>
    <textarea id="description" name="description" formControlName="description" placeholder="..."
      style="height:100px;"></textarea>

    <input type="submit" value="Ajouter article">
  </form>
  {{formArt.valid}}
</div>