<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Contacts
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
       <div class="container">
        <div class="form-group">
        <label for="fname">Prenom</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        </div>
        <div class="form-group">
        <label for="lname">Nom</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        </div>
        <div class="form-group">
        <label for="addr">Adresse</label>
        <input type="text" id="addr" name="adresse" placeholder="Your address..">
        </div>
        <div class="form-group">
        <label for="tel">Télephone</label>
        <input type="text" id="tel" name="tel" placeholder="Your phone number ..">
        </div>
        <div class="form-group">
        <label for="tva">N*TVA</label>
        <input type="text" id="tva" name="tva" placeholder="Your TVA number..">
        </div>
        <button type="button" class="btn btn-secondary" (click)="CreateClient(null)">Nouveau client</button>
      </div> 
    </ion-content>

  <!--
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Tab 3</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <app-explore-container name="Tab 3 page"></app-explore-container>
  -->