<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Contacts
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
       <div class="container">
        <form action="">
    
        <label for="fname">Prenom</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
    
        <label for="lname">Nom</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    
        <label for="addr">Adresse</label>
        <input type="text" id="addr" name="adresse" placeholder="Your address..">
    
        <label for="tel">Télephone</label>
        <input type="text" id="tel" name="tel" placeholder="Your phone number ..">
    
        <label for="tva">N*TVA</label>
        <input type="text" id="tva" name="tva" placeholder="Your TVA number..">
    
        <input type="submit" value="Ajouter client">
        </form>
      </div> 
    </ion-content>

  <!--
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Tab 3</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <app-explore-container name="Tab 3 page"></app-explore-container>
  -->