<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{'shop' | translate}}</ion-title>
    <dx-button slot="start" (click)="GoBack()" icon="fas fa-arrow-left" style="background-color: orange;">
    </dx-button>
  </ion-toolbar>
</ion-header>
<ion-content style="justify-content: start;">

<div style="overflow-y: auto;">

  <ion-accordion-group [value]="this.openCatAccordion">
    <ion-accordion value="categories">
      <ion-item slot="header" class="tabHeader" style="text-align: left;">
        <ion-label>{{'Categories' | translate}}</ion-label>
      </ion-item>
  
      <ion-list slot="content">
        <ion-item>
        <ion-label [hidden]="this.catList!=null">    {{'noCategories' | translate}}
        </ion-label>  
          <div class="container" style="overflow-y: auto;">
            <div class="row">
              <mat-card class="example-card col-4" *ngFor="let el of catList">
                <mat-card-title-group (click)="EnterCategory(el)">
                  <mat-card-title>{{el.categoryName}}</mat-card-title>
                  <mat-card-subtitle>{{el.description}}</mat-card-subtitle>
                  <img class="img-fluid" mat-card-lg-image src="{{el.categoryImage}}" 
                       style='max-width: 70px; max-height: 70px;' [border]="0" alt="Null"
                       onerror="this.onerror=null; this.src='assets/icon/White-square.jpg'">
                </mat-card-title-group>
              </mat-card>
            </div>
        
            <div class="card-footer text-muted">
              <dx-button [hidden]="this.actualCat==null" icon="fas fa-arrow-left" type="button" class="btn btn-secondary" (click)="BackCategory()"
              style="background-color:orange;" [text]="'back' | translate"></dx-button>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
  <div class="card-header tabHeader">
    {{'myArticles' | translate}}
  </div>
  <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">

      <thead>
        <tr>
          <th *ngFor="let head of headElementsArt" scope="col">{{head}} </th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let p of artList">
          <!-- <th scope="row">{{el.id}}</th> -->
          <td>{{p.productName}}</td>
          <td>{{p.description}}</td>
          <td>{{p.priceHtva}}</td>
          <td>
            <dx-button icon="fas fa-cart-plus" type="button" (click)="AddProduct(p)" [text]="'addProductToCart' | translate" style="background-color: orange;">
            </dx-button>
          </td>
          <!-- <td>{{p.categoryId}}</td> -->
          <!-- <td>
            <button mat-icon-button [matMenuTriggerFor]="menu">
               <ion-icon name="list"></ion-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="ModifyProduct(p)">
                <ion-icon name="create"></ion-icon>
                <span>Modifier</span>
              </button>
              <button mat-menu-item (click)="DeleteProduct(p)">
                <ion-icon name="trash"></ion-icon>
                <span>Supprimer</span>
              </button>
            </mat-menu>
          </td> -->
        </tr>
      </tbody>
    </table>

  </div>
  <hr>

  <form [formGroup]="formArt" (ngSubmit)="AddFastProduct()">

    <div class="card-header tabHeader">
      {{'fastProduct' | translate}}
    </div>
    <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar">
      <ion-item>
      <ion-input type="text" id="productName" name="productName" formControlName="productName" [placeholder]="'productName' | translate"
        required="required" maxlength="50"></ion-input>
      </ion-item>
      <ion-item>
      <ion-textarea title="test" id="description" name="description" formControlName="description" [placeholder]="'description' | translate"
        style="height:100px;" maxlength="50"></ion-textarea>
      </ion-item>
      <ion-item>
      <ion-input type="text" id="priceHtva" name="priceHtva" formControlName="priceHtva" [placeholder]="'unitPrice' | translate"
        required="required" maxlength="12"></ion-input>
        </ion-item>
    </div>
    <div class="card-footer text-muted" style="text-align: center;">
      <dx-button [useSubmitBehavior]="true" type="submit" class="btn btn-secondary" icon="fas fa-cart-plus" style="background-color:orange;" [text]="'addProductToCart' | translate"></dx-button>
    </div>
  </form>
  <hr>
  <div class="card-header tabHeader">
    {{'cart' | translate}}
  </div>
  <div [hidden]="panierList.length>0">
    {{'noData' | translate}}
  </div>
  <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar" [hidden]="panierList.length==0">
    <table class="table table-bordered table-striped mb-0">

      <thead>
        <tr>
          <th *ngFor="let head of headElementsArtCart" scope="col">{{head}} </th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let p of panierList">
          <!-- <th scope="row">{{el.id}}</th> -->
          <td>{{p.product.productName}}</td>
          <td>{{p.product.description}}</td>
          <td>{{p.product.priceHtva}}</td>
          <td>{{p.quantity}}</td>
          <td>{{p.product.priceHtva * p.quantity}}</td>

          <!-- <td>{{p.categoryId}}</td> -->
          <td>
            <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
               <ion-icon name="list"></ion-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="ModifyProduct(p)">
                <ion-icon name="create"></ion-icon>
                <span>Modifier</span>
              </button> -->
            <dx-button icon="fas fa-trash" (click)="RemoveProduct(p)" [text]="'delete' | translate">
            </dx-button>
            <!-- </mat-menu> -->
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <!-- <div class="card-footer text-muted">
    <button type="button" class="btn btn-secondary" (click)="CreateProduct()" style="background-color:orange;">{{'addProductToCart' | translate}}</button>
  </div> -->
  <div class="card-footer text-muted" style="text-align: center;">
    <dx-button type="button" class="btn btn-danger" (click)="SavePanier()" style="background-color:orange;" [text]="'finalize' | translate"></dx-button>
  </div>
</div>
</ion-content>