.example-card {
    max-width: 400px;
    margin:30px;
    padding:20px;
  }

  .container {
    /* On ajoute une marge sur les cotés de l'écran */
    padding-right: 15px;
    padding-left: 15px;

    /* Et on centre */
    margin-right: auto;
    margin-left: auto;
}
.tabHeader
{
  background-color: orange;
  color: white;
  text-align: center;
  border: 1px solid lightgray;
border-radius: 4px;
}