<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acceuil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="card text-center">
    <div class="card-header">
      Mes chantiers
    </div>
    <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0">

        <thead>
          <tr>
            <th *ngFor="let head of headElements" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let el of chantierList" (click)="ManageWorksite(el)">
            <!-- <th scope="row">{{el.id}}</th> -->
            <td>{{el.worksiteName}}</td>
            <td>{{el.clientLastName}}</td>
            <td>{{el.dateStart}}</td>
            <td>{{el.address}}</td>
            <td>{{el.isFinished}}</td>

            <td (click)="$event.stopPropagation()">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Modifier</span>
                </button>
                <button mat-menu-item (click)="deleteWorksite(el)">
                  <mat-icon>delete</mat-icon>
                  <span>Supprimer</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer text-muted">
      <button type="button" class="btn btn-secondary" (click)="CreateWorksite()">Nouveau chantier</button>
    </div>
  </div>
</ion-content>