<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Acceuil
      </ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content [fullscreen]="true">

  <!-- <h2 class="text-center">DevisApp</h2>
-->

  <div class="card text-center">
    <div class="card-header">
      Mes chantiers
    </div>
    <div class="col-auto table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0">
        
        <thead>
          <tr>
            <th *ngFor="let head of headElements" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let el of elements">
            <th scope="row">{{el.id}}</th>
            <td>{{el.first}}</td>
            <td>{{el.last}}</td>
            <td>{{el.handle}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer text-muted">
      <button type="button" class="btn btn-secondary" (click)="CreateWorksite()">Nouveau chantier</button>
    </div>
  </div>
<!--
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-explore-container name="Tab 1 page"></app-explore-container>
-->
</ion-content>