<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title class="ion-text-center">{{'settings' | translate}}</ion-title>
      <dx-button slot="start" (click)="GoBack()" icon="fas fa-arrow-left" style="background-color: orange;">
      </dx-button>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content [fullscreen]="true" style="background-color: white;">
    <div>
      <form [formGroup]="formGeneral" (ngSubmit)="updateGeneralSettings()">
        <div class="jumbotron text-center">
          <div class="card-header">
            {{'general' | translate}}
          </div>
          <ion-item class="form-group">
            <ion-label position="stacked">{{'devise' | translate}}</ion-label>
            <ion-select interface="alert" okText="Ok" cancelText="Annuler" formControlName="devise" 
              (ionChange)="selectDevise($event)">
              <ion-select-option></ion-select-option>
              <ion-select-option *ngFor="let c of deviseList" [value]="c">
                {{c}}  
              </ion-select-option>
            </ion-select>          </ion-item>
            <dx-button [useSubmitBehavior]="true" class="btn btn-secondary" type="submit" style="background-color:orange;" [text]="'saveGenSettings' | translate"></dx-button>
        </div>
        </form>
      <form [formGroup]="formInvoice" (ngSubmit)="UpdateInvoiceSettings()">
        <div class="jumbotron text-center">
          <div class="card-header">
            {{'invoices' | translate}}
          </div>
          <ion-item class="form-group">
            <ion-label position="stacked">{{'invoiceName' | translate}}</ion-label>
            <ion-input type="text" id="factureName" placeholder="FactureVente" formControlName="factureName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{'extType' | translate}}</ion-label>
            <ion-select interface="alert" okText="Ok" cancelText="Annuler" formControlName="exts" 
              (ionChange)="selectExtType($event)">
              <ion-select-option></ion-select-option>
              <ion-select-option *ngFor="let c of extTypes" [value]="c">
                {{c}}  
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="form-group">
            <ion-label position="stacked" style="font-size: medium;">{{'extPos' | translate}}</ion-label>
            <ion-item>
              <ion-label position="fixed" style="font-size: smaller;">{{'beforeName' | translate}}</ion-label>
              <ion-checkbox id="avant" name="avant" formControlName="positionAvant"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label position="fixed" style="font-size: smaller;">{{'afterName' | translate}}</ion-label>
              <ion-checkbox name="apres" id="apres" formControlName="positionApres"></ion-checkbox>
            </ion-item>          
          </ion-item>
          <ion-item class="form-group">
            <ion-label position="stacked">{{'extSeparator' | translate}}</ion-label>
            <ion-input type="text" id="ext" placeholder="- / ; _ #" formControlName="extType"></ion-input>
          </ion-item>
          <ion-item class="form-group">
            <ion-label position="stacked">{{'extVal' | translate}}</ion-label>
            <ion-input type="text" id="ext" placeholder="1" formControlName="extNum"></ion-input>
          </ion-item>
          <!-- <ion-item class="form-group"> 
            <ion-label position="fixed" style="font-size: smaller;">{{'OpenPdfAfterGenerate' | translate}}</ion-label>
            <ion-checkbox id="openPdf" name="openPdf" formControlName="openPdf"></ion-checkbox>
          </ion-item> -->
          <dx-button [useSubmitBehavior]="true" class="btn btn-secondary" type="submit" style="background-color:orange;" [text]="'saveInvSettings' | translate"></dx-button>
  </div>
</form>
  </div>
  </ion-content>
  
      <!-- <form [formGroup]="formProfile" (ngSubmit)="UpdateProfile()">
        <ion-item class="form-group" required="required">
          <ion-label position="stacked">Prénom</ion-label>
          <ion-input type="text" id="firstName" placeholder="Your name.." formControlName="firstName" required="required"></ion-input>
        </ion-item>
        <ion-item class="form-group" required="required">
          <ion-label position="stacked">Nom</ion-label>
          <ion-input type="text" id="lastName" placeholder="Your last name.." formControlName="lastName" required="required"></ion-input>
        </ion-item>
        <ion-item class="form-group" required="required">
          <ion-label position="stacked">Adresse</ion-label>
          <ion-input type="text" id="address" placeholder=".." formControlName="address"></ion-input>
        </ion-item>
        
        <ion-item class="form-group">
          <ion-label position="stacked">Phone</ion-label>
          <ion-input type="text" id="phone" placeholder="..." formControlName="phone"></ion-input>
        </ion-item>
  
        <ion-item class="form-group">
          <ion-label position="stacked">Mail</ion-label>
          <ion-input type="text" id="mail" placeholder="..." formControlName="mail"></ion-input>
        </ion-item>
  
        <ion-item class="form-group">
          <ion-label position="stacked">TVA</ion-label>
          <ion-input type="text" id="tva" placeholder="..." formControlName="tva"></ion-input>
        </ion-item>
  
        <ion-item class="form-group">
          <ion-label position="stacked">IBAN</ion-label>
          <ion-input type="text" id="iban" placeholder="BE ..." formControlName="iban"></ion-input>
        </ion-item>
  
        <ion-item class="form-group">
          <ion-label position="stacked">BIC</ion-label>
          <ion-input type="text" id="bic" placeholder="..." formControlName="bic"></ion-input>
        </ion-item>
        
        <button class="btn btn-secondary" type="submit">Actualiser profil</button>
      </form> -->